<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,viewport-fit=cover">
  <title>发布</title>
  <link rel="stylesheet" href="http://tk.taihaomai.vip/assets/css/hg/common.css">
  <link rel="stylesheet" href="http://tk.taihaomai.vip/assets/css/hg/vant.css">
  <link rel="stylesheet" href="http://tk.taihaomai.vip/assets/css/hg/release.css">
  <style>
    #title {
      padding: .266667rem
        /* 20/75 */
        0;
    }

    #editor {
      padding: .4rem
        /* 30/75 */
        .4rem
        /* 30/75 */
        0;

      height: 60vh;
      overflow: scroll;
    }


    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    .send {
      margin: 1.333333rem
        /* 100/75 */
        auto 0;
    }

    ul.tabList {
      position: inherit;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <div class="top-container">
      <div id="title" placeholder="请输入标题(40个以内字符)" ref="titleMsg" @focus="showTab = false" @blur="showTab = true"
        @keyup="titleNum">
      </div>
      <span class="warn" v-if="show">{{info}}</span>
    </div>

    <div id="editor" placeholder="请开始你的创作！" ref="contentMsg" @keyup="getTap"></div>
    <div>
      <!-- 状态栏 -->
      <ul class="flex-left tabList" v-if="showTab" id="tab">
        <li class="flex-center">
          <img src="http://tk.taihaomai.vip/assets/images/img/charutupian.png" alt="" @click.stop="addImg">
        </li>
        <li class="flex-center">
          <img src="http://tk.taihaomai.vip/assets/images/img/xiahuaxian.png" alt="" @click.stop="addUnderLine"
            v-if="!isUnder">
          <img src="http://tk.taihaomai.vip/assets/images/img/xiahuaxian1.png" alt="" @click.stop="addUnderLine" v-else>
        </li>
        <li class="flex-center">
          <img src="http://tk.taihaomai.vip/assets/images/img/jiacu.png" alt="" @click.stop="addBold" v-if="!isBold">
          <img src="http://tk.taihaomai.vip/assets/images/img/jiacu1.png" alt="" @click.stop="addBold" v-else>
        </li>
        <li class="flex-center">
          <img src="http://tk.taihaomai.vip/assets/images/img/wuxu.png" alt="" @click.stop="noArray" v-if="!isNoArray">
          <img src="http://tk.taihaomai.vip/assets/images/img/wuxu1.png" alt="" @click.stop="noArray" v-else>
        </li>
        <li class="flex-center">
          <img src="http://tk.taihaomai.vip/assets/images/img/youxu.png" alt="" v-on:click.stop="array" v-if="!isArray">
          <img src="http://tk.taihaomai.vip/assets/images/img/youxu1.png" alt="" v-on:click.stop="array" v-else>
        </li>
        <li class="flex-center">
          <img src="http://tk.taihaomai.vip/assets/images/img/fanhui.png" alt="" @click.stop="redo">
        </li>
        <li class="flex-center">
          <img src="http://tk.taihaomai.vip/assets/images/img/fanhui.png" alt="" @click.stop="undo">
        </li>
      </ul>
      <div class="send" @click="send">发布</div>

    </div>
    <!-- 添加 -->
    <van-overlay :show="showMark">
      <div class="addInfo">
        <p>选择发布领域</p>
        <div class="flex-center label">
          <van-radio-group v-model="result" direction="horizontal" checked-color=" #E99100">
            <van-radio :name="item.id" v-for="item in list">{{item.name}}</van-radio>
          </van-radio-group>
        </div>
        <div class="btn-container flex-left">
          <div class="flex-center" @click.stop="clean">取消</div>
          <div class="flex-center" @click.stop="sure">确定</div>
        </div>
      </div>
    </van-overlay>
  </div>
  <script src="http://tk.taihaomai.vip/assets/js/hg/flexible.js"></script>
  <script src="http://tk.taihaomai.vip/assets/js/hg/vue.min.js"></script>
  <script src="http://tk.taihaomai.vip/assets/js/hg/axios.min.js"></script>
  <script src="http://tk.taihaomai.vip/assets/js/hg/vant.min.js"></script>
  <script>
    var vue = new Vue({
      el: "#app",
      data: {
        show: false,
        titleMsg: '',
        info: '',
        showTab: true,
        isUnder: false, //开启下划线
        isBold: false, //加粗
        isNoArray: false, //无序
        isArray: false, //有序
        showMark: false,
        result: [],
        list: [],
        // content:"",
      },

      created() {
        this.getType();

        // this.$refs.titleMsg.focus();
        this.focusin()
        this.focusout()

      },
      mounted() {
        this.initEditor();

        let id = window.location.search.substring(1).split('=')[1];
        if (id) {
          this.$refs.titleMsg.innerText = ""
          this.$refs.contentMsg.innerHTML = ""
        }
      },
      methods: {
        pushHistory() { //改方法添加了一个历史记录，路径为#，保证了不刷新页面，不直接后退。
          var state = {
            title: "title",
            url: "?id=1"
          };
          window.history.pushState(state, "title", "?id=1");
        },
        initEditor() {

          this.openOrCloseEditor('title', true);
          this.openOrCloseEditor('editor', true);
        },
        /**
         * 功能： 开启元素编辑功能
         * 输入： el：编辑器ID; operate：Boolean值，表示启动还是关闭
         */
        openOrCloseEditor(el, operate) {
          var editor = document.getElementById(el);
          editor.contentEditable = operate;
        },
        titleNum() {
          let text = this.$refs.titleMsg.innerText;
          if (text.length && text.length > 40) {
            this.info = '标题字数不超过40个字';
            this.show = true;
          } else {
            this.show = false;
          }
        },
        // 传入图片
        addImg() {
          console.log('插入图片');
        },
        // 添加下划线
        addUnderLine() {
          this.isUnder = !this.isUnder;
          document.execCommand('underline');
          this.getFocus();
        },
        // 加粗
        addBold() {
          this.isBold = !this.isBold;
          document.execCommand('bold');
          this.getFocus();
        },
        // 无序
        noArray(e) {
          e.stopPropagation()
          this.tr = true;
          this.getFocus();

          this.isNoArray = !this.isNoArray;
          this.isArray = false;
          document.execCommand('insertUnorderedList');
        },
        // 有序
        array(e) {
          // alert(111)
          this.getFocus();
          this.isArray = !this.isArray;
          this.isNoArray = false;
          document.execCommand('insertOrderedList');

        },
        // 重做
        redo() {
          document.execCommand('redo');
          this.getFocus();
        },
        // 撤销
        undo() {
          document.execCommand('undo');
          this.getFocus();
        },
        // 获取焦点
        getFocus() {

          document.querySelector('#editor').focus();
          setTimeout(() => {
            scrollTo(0, 80)
            let agent = navigator.userAgent.toLowerCase();
            let android = agent.indexOf("android");
            let iphone = agent.indexOf("iphone");
            if (iphone) {
              document.querySelector('#editor').style.height = 40 + 'vh'
            } else if (android) {
              document.querySelector('#editor').style.height = 60 + 'vh'
            }
          }, 100)
        },

        //封装函数
        getContent(el) {
          let editor = document.getElementById(el);
          return editor.innerHTML;
        },

        // 发送
        send() {

          let text = this.$refs.titleMsg.innerText;
          let title = this.getContent('title');
          let editor = this.getContent('editor');
          if (text.length && text.length > 40) {
            this.info = '标题字数不超过40个字';
            this.show = true;
            vant.Toast('标题字数不超过40个字');
            return;
          } else if (text.length > 30) {
            this.info = '标题字数不可大于30个字';
            vant.Toast('标题字数不可大于30个字')
            this.show = true;
            return;
          } else {
            this.showMark = true;

          }

        },
        // 获取文章类别
        getType() {
          let url = "http://tk.taihaomai.vip/hg_release_type";
          axios.post(url).then(res => {
            console.log(res);
            if (res.data.status == "ok") {
              this.list = res.data.type;
            }
          }).catch(err => {
            console.log(err)
          });
        },
        clean() {
          this.showMark = false;
          this.result = [];
        },
        sure() {
          this.showMark = false;
          let url = "http://tk.taihaomai.vip/info_create";
          let text = this.$refs.contentMsg.innerHTML.replace(/&nbsp;/g, '');
          text = text.replace(/style/g, 'not')
          let data = {
            title: this.$refs.titleMsg.innerHTML.replace(/&nbsp;/g, ''),
            type_id: this.result,
            content: text,
            status: 1
          }
          axios.post(url, data).then(res => {
            console.log(res)
            if (res.data.status = "ok") {

              vant.Toast('已提交审核，审核通过后发布');
              window.location.href = "http://tk.taihaomai.vip";
            } else {
              vant.Toast(res.data.info);
            }
          }).catch(err => {
            console.log(err)
          });
        },

        getTap(){
          document.querySelector('#editor').scrollIntoView()
        },
        focusin() {
          document.body.addEventListener('focusin', () => {
            //软键盘弹出的事件处理
            setTimeout(() => {
              scrollTo(0, 80)
              let agent = navigator.userAgent.toLowerCase();
              let android = agent.indexOf("android");
              let iphone = agent.indexOf("iphone");
              if (iphone) {
                document.querySelector('#editor').style.height = 40 + 'vh'
              } else if (android) {
                document.querySelector('#editor').style.height = 60 + 'vh'
              }
            }, 100)

          })
        },
        focusout() {
          document.body.addEventListener('focusout', (e) => {
            //软键盘收起的事件处理
            setTimeout(() => {
              scrollTo(0, 0)
            }, 100)
          })
        }
      }
    });
  </script>
</body>

</html>